body {
    margin: 0%;
    padding: 5% 10%;
    background-color: #001 !important;
}

.main_div {
    height: 81vh;
    background-color: rgb(254, 232, 236);
}

.main_box {
    padding: 40px;
    display: flex;

}

.barIcon {
    background-color: rgb(202, 124, 202);
    color: #fff;
    font-size: 28px;
    padding: 10px 0px;
    text-align: center;
    width: 60px;
}

.allBars {
    text-align: center;
    height: 60vh;
    background-color: rgb(248, 248, 248);
    color: rgb(203, 196, 196);
    font-size: 21px;
    line-height: 54px;
    padding-top: 100px;

}

.girl_Img {
    width: 38%;
    top: -32px;
    position: relative;
}

.third_div {
    height: 68vh;
    background-color: rgb(248, 248, 248);
}

.para_box {
    color: rgb(151, 151, 151);
    border-bottom: solid 1px rgb(151, 151, 151);
    margin: 40px;
    padding-bottom: 30px;
    font-size: 14px;
    font-weight: 500;
}

.services_heading {
    margin-left: 40px;
    font-size: 32px;
    font-weight: 700;
}

.services1stImg {
    padding: 20px 0px 0px 40px;
}

.services_name {
    padding: 20px 40px 5px;
    font-size: 18px;
    font-weight: 700;
}

.services_para {
    color: rgb(151, 151, 151);
    display: flex;
    padding: 10px 40px 5px;
    justify-content: space-between;
    font-weight:600;
    font-size: 13px;
}